<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DXJItem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>NewRouterDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5EAB44124503A900044F03E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53500C12413649F0019DB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53500D7241364A10019DB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F53500E2241364A10019DB86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
